.shop-items__display{
    display: flex;
  
    justify-content: space-between;
    align-items: space-between;
    
}

.viewport{
   


}

.pages{
    display: flex;
    justify-content: center;
}


.page-number{
    padding: 0.3rem 1rem;

}